<h1>Edit Task</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :Title %>
  <%= f.text_field :title %>
  <%= f.label :Details %>
  <%= f.text_field :details %>
  <%= f.label :Completed %>
  <%= f.text_field :completed %>
  <%= f.submit %>
<% end %>
